[Desktop Entry]
Categories=Network;WebBrowser;
Comment[en_US]=Browse the Web
Comment=Browse the Web
Exec=firefox-bin --ProfileManager
GenericName[en_US]=Web Browser
GenericName=Web Browser
Icon=/usr/share/icons/256x256/apps/firefox.png
MimeType=text/html;application/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;
Name[en_US]=Firefox (local)
Name=Firefox (local)
Path=/usr/local/firefox/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-Desktop-File-Install-Version=0.21
X-KDE-SubstituteUID=false
X-KDE-Username=
